In [3]:
import json
import pandas as pd

In [5]:
flat_data = []

with open('/Users/anatoliifrolov/Desktop/epstein files/extractor/dimabsa/eng_restaurant_train_alltasks.jsonl', 'r') as f:
    for line in f:
        entry = json.loads(line)
        for quad in entry['Quadruplet']:
            row = {
                'ID': entry['ID'],
                'Text': entry['Text'],
                'Aspect': quad.get('Aspect'),
                'Opinion': quad.get('Opinion'),
                'Category': quad.get('Category'),
                'VA_Raw': quad.get('VA')
            }
            flat_data.append(row)

df = pd.DataFrame(flat_data)

df[['Valence', 'Arousal']] = df['VA_Raw'].str.split('#', expand=True).astype(float)


print(df.head())


high_valence = df[df['Valence'] > 7.0]
print("\n--- Positive Aspects ---")
print(high_valence[['Aspect', 'Valence']])

print(f"\nAverage Arousal: {df['Arousal'].mean():.2f}")

                  ID                                               Text  \
0  rest16_quad_dev_1             ca n ' t wait wait for my next visit .
1  rest16_quad_dev_2  their sake list was extensive , but we were lo...
2  rest16_quad_dev_2  their sake list was extensive , but we were lo...
3  rest16_quad_dev_3  the spicy tuna roll was unusually good and the...
4  rest16_quad_dev_3  the spicy tuna roll was unusually good and the...

                Aspect         Opinion              Category     VA_Raw  \
0                 NULL            NULL    RESTAURANT#GENERAL  6.75#6.38
1            sake list       extensive  DRINKS#STYLE_OPTIONS  7.83#8.00
2                 NULL            NULL       SERVICE#GENERAL  5.00#5.00
3      spicy tuna roll  unusually good          FOOD#QUALITY  7.50#7.62
4  rock shrimp tempura         awesome          FOOD#QUALITY  8.25#8.38

   Valence  Arousal
0     6.75     6.38
1     7.83     8.00
2     5.00     5.00
3     7.50     7.62
4     8.25     8.38

--- Positive Aspects ---
                   Aspect  Valence
1               sake list     7.83
3         spicy tuna roll     7.50
4     rock shrimp tempura     8.25
5               pink pony     7.17
6                   place     7.88
...                   ...      ...
3605                 NULL     7.90
3609              hot dog     7.83
3610              hot dog     7.17
3612           fish tacos     8.00
3614           atmosphere     7.17

[1733 rows x 2 columns]

Average Arousal: 6.84

In [7]:
df[df['Aspect'] == 'NULL']

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
0,rest16_quad_dev_1,ca n ' t wait wait for my next visit .,NULL,NULL,RESTAURANT#GENERAL,6.75#6.38,6.75,6.38
2,rest16_quad_dev_2,"their sake list was extensive , but we were lo...",NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
12,rest16_quad_dev_8,"the food here is rather good , but only if you...",NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
16,rest16_quad_dev_10,the ambience is pretty and nice for conversati...,NULL,best,RESTAURANT#MISCELLANEOUS,7.25#6.75,7.25,6.75
17,rest16_quad_dev_11,it was horrible .,NULL,horrible,RESTAURANT#GENERAL,2.38#7.88,2.38,7.88
...,...,...,...,...,...,...,...,...
3644,rest16_quad_train_1518,the three of us standing in front of her shoul...,NULL,NULL,SERVICE#GENERAL,5.25#5.25,5.25,5.25
3645,rest16_quad_train_1519,we did n ' t look like the other patrons in th...,NULL,NULL,RESTAURANT#MISCELLANEOUS,4.50#4.50,4.50,4.50
3653,rest16_quad_train_1526,"i ca n ' t believe that it was , but please pu...",NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
3655,rest16_quad_train_1528,i could n ' t ignore the fact that she reach o...,NULL,NULL,SERVICE#GENERAL,4.50#4.50,4.50,4.50
3656,rest16_quad_train_1529,she then put the check down without asking if ...,NULL,NULL,SERVICE#GENERAL,4.75#5.25,4.75,5.25

How does it look in the mean space?

In [11]:
df[(df['Aspect'] == 'NULL') & (df['Opinion'] == "NULL")]['Arousal'].mean()

5.287428571428571

In [15]:
df[(df['Aspect'] == 'NULL') & (df['Opinion'] == "NULL")].head(10)

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
0,rest16_quad_dev_1,ca n ' t wait wait for my next visit .,NULL,NULL,RESTAURANT#GENERAL,6.75#6.38,6.75,6.38
2,rest16_quad_dev_2,"their sake list was extensive , but we were lo...",NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
12,rest16_quad_dev_8,"the food here is rather good , but only if you...",NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
26,rest16_quad_dev_19,i am bringing my whole family back next time .,NULL,NULL,RESTAURANT#MISCELLANEOUS,5.00#5.00,5.00,5.00
28,rest16_quad_dev_21,we will return many times for this oasis in mi...,NULL,NULL,RESTAURANT#GENERAL,5.00#5.00,5.00,5.00
35,rest16_quad_dev_26,but they do .,NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
58,rest16_quad_dev_40,we will go back every time we are in the city .,NULL,NULL,RESTAURANT#GENERAL,6.12#5.75,6.12,5.75
77,rest16_quad_dev_54,with the theater 2 blocks away we had a delici...,NULL,NULL,LOCATION#GENERAL,5.00#5.00,5.00,5.00
93,rest16_quad_dev_64,when asked about how a certain dish was prepar...,NULL,NULL,SERVICE#GENERAL,5.50#5.50,5.50,5.50
101,rest16_quad_dev_67,fresh ingredients and everything is made to or...,NULL,NULL,FOOD#QUALITY,5.25#5.12,5.25,5.12

In [12]:
df[(df['Aspect'] == 'NULL') & (df['Opinion'] == "NULL")]['Valence'].mean()

4.998685714285714

In [17]:
df[(df['Aspect'] == 'NULL') & (df['Opinion'] == "NULL")].tail()

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
3644,rest16_quad_train_1518,the three of us standing in front of her shoul...,NULL,NULL,SERVICE#GENERAL,5.25#5.25,5.25,5.25
3645,rest16_quad_train_1519,we did n ' t look like the other patrons in th...,NULL,NULL,RESTAURANT#MISCELLANEOUS,4.50#4.50,4.50,4.50
3653,rest16_quad_train_1526,"i ca n ' t believe that it was , but please pu...",NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
3655,rest16_quad_train_1528,i could n ' t ignore the fact that she reach o...,NULL,NULL,SERVICE#GENERAL,4.50#4.50,4.50,4.50
3656,rest16_quad_train_1529,she then put the check down without asking if ...,NULL,NULL,SERVICE#GENERAL,4.75#5.25,4.75,5.25

Aspect not null + Opinion is null

In [ ]:
df[(df['Aspect'] != 'NULL') & (df['Opinion'] == "NULL")] # 349 columns

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
21,rest16_quad_dev_15,get the tuna of gari .,tuna of gari,NULL,FOOD#QUALITY,5.33#5.17,5.33,5.17
22,rest16_quad_dev_16,make sure you have the spicy scallop roll . . .,spicy scallop roll,NULL,FOOD#QUALITY,5.25#5.12,5.25,5.12
29,rest16_quad_dev_22,the food options rule .,food,NULL,FOOD#STYLE_OPTIONS,5.50#5.25,5.50,5.25
32,rest16_quad_dev_24,"please take my advice , go and try this place .",place,NULL,RESTAURANT#GENERAL,7.10#7.00,7.10,7.00
53,rest16_quad_dev_35,the pizza and wine were excellent - the servic...,backyard dining area,NULL,AMBIENCE#GENERAL,5.00#5.00,5.00,5.00
...,...,...,...,...,...,...,...,...
3643,rest16_quad_train_1517,i was shocked that my friends wanted to stay a...,waitress,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
3652,rest16_quad_train_1525,the waiter delivered our food while holding wh...,waiter,NULL,SERVICE#GENERAL,3.30#6.00,3.30,6.00
3654,rest16_quad_train_1527,the waitress came to check in on us every few ...,waitress,NULL,SERVICE#GENERAL,3.12#6.88,3.12,6.88
3657,rest16_quad_train_1530,"i wish i could like this place more , and i wi...",place,NULL,RESTAURANT#GENERAL,4.62#5.12,4.62,5.12
3658,rest16_quad_train_1530,"i wish i could like this place more , and i wi...",staff,NULL,SERVICE#GENERAL,4.62#5.12,4.62,5.12

In [23]:
df[(df['Aspect'] != 'NULL') & (df['Opinion'] == "NULL")]

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
21,rest16_quad_dev_15,get the tuna of gari .,tuna of gari,NULL,FOOD#QUALITY,5.33#5.17,5.33,5.17
22,rest16_quad_dev_16,make sure you have the spicy scallop roll . . .,spicy scallop roll,NULL,FOOD#QUALITY,5.25#5.12,5.25,5.12
29,rest16_quad_dev_22,the food options rule .,food,NULL,FOOD#STYLE_OPTIONS,5.50#5.25,5.50,5.25
32,rest16_quad_dev_24,"please take my advice , go and try this place .",place,NULL,RESTAURANT#GENERAL,7.10#7.00,7.10,7.00
53,rest16_quad_dev_35,the pizza and wine were excellent - the servic...,backyard dining area,NULL,AMBIENCE#GENERAL,5.00#5.00,5.00,5.00
...,...,...,...,...,...,...,...,...
3643,rest16_quad_train_1517,i was shocked that my friends wanted to stay a...,waitress,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
3652,rest16_quad_train_1525,the waiter delivered our food while holding wh...,waiter,NULL,SERVICE#GENERAL,3.30#6.00,3.30,6.00
3654,rest16_quad_train_1527,the waitress came to check in on us every few ...,waitress,NULL,SERVICE#GENERAL,3.12#6.88,3.12,6.88
3657,rest16_quad_train_1530,"i wish i could like this place more , and i wi...",place,NULL,RESTAURANT#GENERAL,4.62#5.12,4.62,5.12
3658,rest16_quad_train_1530,"i wish i could like this place more , and i wi...",staff,NULL,SERVICE#GENERAL,4.62#5.12,4.62,5.12

In [28]:
df[(df['Aspect'] != 'NULL') & (df['Opinion'] == "NULL")].tail().iloc[-4]['Text']

'the waiter delivered our food while holding what appeared to be a plastic bag of garbage in one hand .'

ASP is null and Opinion is not null

In [29]:
df[(df['Aspect'] == 'NULL') & (df['Opinion'] != "NULL")]

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
16,rest16_quad_dev_10,the ambience is pretty and nice for conversati...,NULL,best,RESTAURANT#MISCELLANEOUS,7.25#6.75,7.25,6.75
17,rest16_quad_dev_11,it was horrible .,NULL,horrible,RESTAURANT#GENERAL,2.38#7.88,2.38,7.88
18,rest16_quad_dev_12,have been dozens of times and never failed to ...,NULL,enjoy,RESTAURANT#GENERAL,7.75#7.75,7.75,7.75
20,rest16_quad_dev_14,i had a huge group for my birthday and we were...,NULL,well,SERVICE#GENERAL,6.17#6.17,6.17,6.17
33,rest16_quad_dev_25,they were served warm and had a soft fluffy in...,NULL,warm,FOOD#QUALITY,7.62#7.62,7.62,7.62
...,...,...,...,...,...,...,...,...
3626,rest16_quad_train_1504,can ’ t believe how an expensive nyc restauran...,NULL,so disrespectful,SERVICE#GENERAL,3.00#6.75,3.00,6.75
3627,rest16_quad_train_1505,what a hassle !,NULL,hassle,RESTAURANT#GENERAL,2.62#7.50,2.62,7.50
3635,rest16_quad_train_1510,expensive,NULL,expensive,RESTAURANT#PRICES,3.00#7.25,3.00,7.25
3637,rest16_quad_train_1512,so rude ! ! !,NULL,so rude,SERVICE#GENERAL,1.80#7.90,1.80,7.90
3638,rest16_quad_train_1513,i was one of the people that went for this hor...,NULL,horrible,RESTAURANT#GENERAL,4.00#6.00,4.00,6.00

In [32]:
df.iloc[3626]

ID                                     rest16_quad_train_1504
Text        can ’ t believe how an expensive nyc restauran...
Aspect                                                   NULL
Opinion                                      so disrespectful
Category                                      SERVICE#GENERAL
VA_Raw                                              3.00#6.75
Valence                                                   3.0
Arousal                                                  6.75
Name: 3626, dtype: object

In [31]:
df.iloc[3626].Text

'can ’ t believe how an expensive nyc restaurant can be so disrespectful to its clients .'

Not null , Not Null

In [33]:
df[(df['Aspect'] != 'NULL') & (df['Opinion'] != "NULL")]

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
1,rest16_quad_dev_2,"their sake list was extensive , but we were lo...",sake list,extensive,DRINKS#STYLE_OPTIONS,7.83#8.00,7.83,8.00
3,rest16_quad_dev_3,the spicy tuna roll was unusually good and the...,spicy tuna roll,unusually good,FOOD#QUALITY,7.50#7.62,7.50,7.62
4,rest16_quad_dev_3,the spicy tuna roll was unusually good and the...,rock shrimp tempura,awesome,FOOD#QUALITY,8.25#8.38,8.25,8.38
5,rest16_quad_dev_4,we love th pink pony .,pink pony,love,RESTAURANT#GENERAL,7.17#7.00,7.17,7.00
6,rest16_quad_dev_5,this place has got to be the best japanese res...,place,best,RESTAURANT#GENERAL,7.88#8.12,7.88,8.12
...,...,...,...,...,...,...,...,...
3647,rest16_quad_train_1521,i generally like this place .,place,like,RESTAURANT#GENERAL,6.62#6.62,6.62,6.62
3648,rest16_quad_train_1522,the design of the space is good .,space,good,AMBIENCE#GENERAL,6.75#6.88,6.75,6.88
3649,rest16_quad_train_1523,but the service is horrid !,service,horrid,SERVICE#GENERAL,2.62#7.00,2.62,7.00
3650,rest16_quad_train_1524,"i was there for brunch recently , and we were ...",waitress,teamed,SERVICE#GENERAL,6.17#6.00,6.17,6.00
3651,rest16_quad_train_1524,"i was there for brunch recently , and we were ...",waiter,teamed,SERVICE#GENERAL,6.17#6.00,6.17,6.00

In [ ]:
df.iloc[3648]   # design is good , not the space!

ID                     rest16_quad_train_1522
Text        the design of the space is good .
Aspect                                  space
Opinion                                  good
Category                     AMBIENCE#GENERAL
VA_Raw                              6.75#6.88
Valence                                  6.75
Arousal                                  6.88
Name: 3648, dtype: object

We have several multi-marked sentences:
1. I think that the best tactic is to split and to mark the sentences and we have to rate the each one for the markings 
2. The goal for the dimABSA is to mark everyting, not only the vobe of the whole sentence.

So, i think , I will start from the division of the sentence. I need to divide the sentence into the several aspects

In [39]:
df

,ID,Text,Aspect,Opinion,Category,VA_Raw,Valence,Arousal
0,rest16_quad_dev_1,ca n ' t wait wait for my next visit .,NULL,NULL,RESTAURANT#GENERAL,6.75#6.38,6.75,6.38
1,rest16_quad_dev_2,"their sake list was extensive , but we were lo...",sake list,extensive,DRINKS#STYLE_OPTIONS,7.83#8.00,7.83,8.00
2,rest16_quad_dev_2,"their sake list was extensive , but we were lo...",NULL,NULL,SERVICE#GENERAL,5.00#5.00,5.00,5.00
3,rest16_quad_dev_3,the spicy tuna roll was unusually good and the...,spicy tuna roll,unusually good,FOOD#QUALITY,7.50#7.62,7.50,7.62
4,rest16_quad_dev_3,the spicy tuna roll was unusually good and the...,rock shrimp tempura,awesome,FOOD#QUALITY,8.25#8.38,8.25,8.38
...,...,...,...,...,...,...,...,...
3654,rest16_quad_train_1527,the waitress came to check in on us every few ...,waitress,NULL,SERVICE#GENERAL,3.12#6.88,3.12,6.88
3655,rest16_quad_train_1528,i could n ' t ignore the fact that she reach o...,NULL,NULL,SERVICE#GENERAL,4.50#4.50,4.50,4.50
3656,rest16_quad_train_1529,she then put the check down without asking if ...,NULL,NULL,SERVICE#GENERAL,4.75#5.25,4.75,5.25
3657,rest16_quad_train_1530,"i wish i could like this place more , and i wi...",place,NULL,RESTAURANT#GENERAL,4.62#5.12,4.62,5.12
3658,rest16_quad_train_1530,"i wish i could like this place more , and i wi...",staff,NULL,SERVICE#GENERAL,4.62#5.12,4.62,5.12

Ok. It is already divided, now i need to prepare it to feed for the BERT
[CLS] some sentence [SEP] ASPECT + Opinion [SEP] if there is none for both of them ??

In [40]:
len(df.ID.unique())

2284

In [ ]:
print([deez for deez in df.ID.unique()  if 'train' in deez]) #??? do i need to use only them

['rest16_quad_train_1', 'rest16_quad_train_2', 'rest16_quad_train_3', 'rest16_quad_train_4', 'rest16_quad_train_5', 'rest16_quad_train_6', 'rest16_quad_train_7', 'rest16_quad_train_8', 'rest16_quad_train_9', 'rest16_quad_train_10', 'rest16_quad_train_11', 'rest16_quad_train_12', 'rest16_quad_train_13', 'rest16_quad_train_14', 'rest16_quad_train_15', 'rest16_quad_train_16', 'rest16_quad_train_17', 'rest16_quad_train_18', 'rest16_quad_train_19', 'rest16_quad_train_20', 'rest16_quad_train_21', 'rest16_quad_train_22', 'rest16_quad_train_23', 'rest16_quad_train_24', 'rest16_quad_train_25', 'rest16_quad_train_26', 'rest16_quad_train_27', 'rest16_quad_train_28', 'rest16_quad_train_29', 'rest16_quad_train_30', 'rest16_quad_train_31', 'rest16_quad_train_32', 'rest16_quad_train_33', 'rest16_quad_train_34', 'rest16_quad_train_35', 'rest16_quad_train_36', 'rest16_quad_train_37', 'rest16_quad_train_38', 'rest16_quad_train_39', 'rest16_quad_train_40', 'rest16_quad_train_41', 'rest16_quad_train_42', 'rest16_quad_train_43', 'rest16_quad_train_44', 'rest16_quad_train_45', 'rest16_quad_train_46', 'rest16_quad_train_47', 'rest16_quad_train_48', 'rest16_quad_train_49', 'rest16_quad_train_50', 'rest16_quad_train_51', 'rest16_quad_train_52', 'rest16_quad_train_53', 'rest16_quad_train_54', 'rest16_quad_train_55', 'rest16_quad_train_56', 'rest16_quad_train_57', 'rest16_quad_train_58', 'rest16_quad_train_59', 'rest16_quad_train_60', 'rest16_quad_train_61', 'rest16_quad_train_62', 'rest16_quad_train_63', 'rest16_quad_train_64', 'rest16_quad_train_65', 'rest16_quad_train_66', 'rest16_quad_train_67', 'rest16_quad_train_68', 'rest16_quad_train_69', 'rest16_quad_train_70', 'rest16_quad_train_71', 'rest16_quad_train_72', 'rest16_quad_train_73', 'rest16_quad_train_74', 'rest16_quad_train_75', 'rest16_quad_train_76', 'rest16_quad_train_77', 'rest16_quad_train_78', 'rest16_quad_train_79', 'rest16_quad_train_80', 'rest16_quad_train_81', 'rest16_quad_train_82', 'rest16_quad_train_83', 'rest16_quad_train_84', 'rest16_quad_train_85', 'rest16_quad_train_86', 'rest16_quad_train_87', 'rest16_quad_train_88', 'rest16_quad_train_89', 'rest16_quad_train_90', 'rest16_quad_train_91', 'rest16_quad_train_92', 'rest16_quad_train_93', 'rest16_quad_train_94', 'rest16_quad_train_95', 'rest16_quad_train_96', 'rest16_quad_train_97', 'rest16_quad_train_98', 'rest16_quad_train_99', 'rest16_quad_train_100', 'rest16_quad_train_101', 'rest16_quad_train_102', 'rest16_quad_train_103', 'rest16_quad_train_104', 'rest16_quad_train_105', 'rest16_quad_train_106', 'rest16_quad_train_107', 'rest16_quad_train_108', 'rest16_quad_train_109', 'rest16_quad_train_110', 'rest16_quad_train_111', 'rest16_quad_train_112', 'rest16_quad_train_113', 'rest16_quad_train_114', 'rest16_quad_train_115', 'rest16_quad_train_116', 'rest16_quad_train_117', 'rest16_quad_train_118', 'rest16_quad_train_119', 'rest16_quad_train_120', 'rest16_quad_train_121', 'rest16_quad_train_122', 'rest16_quad_train_123', 'rest16_quad_train_124', 'rest16_quad_train_125', 'rest16_quad_train_126', 'rest16_quad_train_127', 'rest16_quad_train_128', 'rest16_quad_train_129', 'rest16_quad_train_130', 'rest16_quad_train_131', 'rest16_quad_train_132', 'rest16_quad_train_133', 'rest16_quad_train_134', 'rest16_quad_train_135', 'rest16_quad_train_136', 'rest16_quad_train_137', 'rest16_quad_train_138', 'rest16_quad_train_139', 'rest16_quad_train_140', 'rest16_quad_train_141', 'rest16_quad_train_142', 'rest16_quad_train_143', 'rest16_quad_train_144', 'rest16_quad_train_145', 'rest16_quad_train_146', 'rest16_quad_train_147', 'rest16_quad_train_148', 'rest16_quad_train_149', 'rest16_quad_train_150', 'rest16_quad_train_151', 'rest16_quad_train_152', 'rest16_quad_train_153', 'rest16_quad_train_154', 'rest16_quad_train_155', 'rest16_quad_train_156', 'rest16_quad_train_157', 'rest16_quad_train_158', 'rest16_quad_train_159', 'rest16_quad_train_160', 'rest16_quad_train_161', 'rest16_quad_train_162', 'rest16_quad_train_163', 'rest16_quad_train_164', 'rest16_quad_train_165', 'rest16_quad_train_166', 'rest16_quad_train_167', 'rest16_quad_train_168', 'rest16_quad_train_169', 'rest16_quad_train_170', 'rest16_quad_train_171', 'rest16_quad_train_172', 'rest16_quad_train_173', 'rest16_quad_train_174', 'rest16_quad_train_175', 'rest16_quad_train_176', 'rest16_quad_train_177', 'rest16_quad_train_178', 'rest16_quad_train_179', 'rest16_quad_train_180', 'rest16_quad_train_181', 'rest16_quad_train_182', 'rest16_quad_train_183', 'rest16_quad_train_184', 'rest16_quad_train_185', 'rest16_quad_train_186', 'rest16_quad_train_187', 'rest16_quad_train_188', 'rest16_quad_train_189', 'rest16_quad_train_190', 'rest16_quad_train_191', 'rest16_quad_train_192', 'rest16_quad_train_193', 'rest16_quad_train_194', 'rest16_quad_train_195', 'rest16_quad_train_196', 'rest16_quad_train_197', 'rest16_quad_train_198', 'rest16_quad_train_199', 'rest16_quad_train_200', 'rest16_quad_train_201', 'rest16_quad_train_202', 'rest16_quad_train_203', 'rest16_quad_train_204', 'rest16_quad_train_205', 'rest16_quad_train_206', 'rest16_quad_train_207', 'rest16_quad_train_208', 'rest16_quad_train_209', 'rest16_quad_train_210', 'rest16_quad_train_211', 'rest16_quad_train_212', 'rest16_quad_train_213', 'rest16_quad_train_214', 'rest16_quad_train_215', 'rest16_quad_train_216', 'rest16_quad_train_217', 'rest16_quad_train_218', 'rest16_quad_train_219', 'rest16_quad_train_220', 'rest16_quad_train_221', 'rest16_quad_train_222', 'rest16_quad_train_223', 'rest16_quad_train_224', 'rest16_quad_train_225', 'rest16_quad_train_226', 'rest16_quad_train_227', 'rest16_quad_train_228', 'rest16_quad_train_229', 'rest16_quad_train_230', 'rest16_quad_train_231', 'rest16_quad_train_232', 'rest16_quad_train_233', 'rest16_quad_train_234', 'rest16_quad_train_235', 'rest16_quad_train_236', 'rest16_quad_train_237', 'rest16_quad_train_238', 'rest16_quad_train_239', 'rest16_quad_train_240', 'rest16_quad_train_241', 'rest16_quad_train_242', 'rest16_quad_train_243', 'rest16_quad_train_244', 'rest16_quad_train_245', 'rest16_quad_train_246', 'rest16_quad_train_247', 'rest16_quad_train_248', 'rest16_quad_train_249', 'rest16_quad_train_250', 'rest16_quad_train_251', 'rest16_quad_train_252', 'rest16_quad_train_253', 'rest16_quad_train_254', 'rest16_quad_train_255', 'rest16_quad_train_256', 'rest16_quad_train_257', 'rest16_quad_train_258', 'rest16_quad_train_259', 'rest16_quad_train_260', 'rest16_quad_train_261', 'rest16_quad_train_262', 'rest16_quad_train_263', 'rest16_quad_train_264', 'rest16_quad_train_265', 'rest16_quad_train_266', 'rest16_quad_train_267', 'rest16_quad_train_268', 'rest16_quad_train_269', 'rest16_quad_train_270', 'rest16_quad_train_271', 'rest16_quad_train_272', 'rest16_quad_train_273', 'rest16_quad_train_274', 'rest16_quad_train_275', 'rest16_quad_train_276', 'rest16_quad_train_277', 'rest16_quad_train_278', 'rest16_quad_train_279', 'rest16_quad_train_280', 'rest16_quad_train_281', 'rest16_quad_train_282', 'rest16_quad_train_283', 'rest16_quad_train_284', 'rest16_quad_train_285', 'rest16_quad_train_286', 'rest16_quad_train_287', 'rest16_quad_train_288', 'rest16_quad_train_289', 'rest16_quad_train_290', 'rest16_quad_train_291', 'rest16_quad_train_292', 'rest16_quad_train_293', 'rest16_quad_train_294', 'rest16_quad_train_295', 'rest16_quad_train_296', 'rest16_quad_train_297', 'rest16_quad_train_298', 'rest16_quad_train_299', 'rest16_quad_train_300', 'rest16_quad_train_301', 'rest16_quad_train_302', 'rest16_quad_train_303', 'rest16_quad_train_304', 'rest16_quad_train_305', 'rest16_quad_train_306', 'rest16_quad_train_307', 'rest16_quad_train_308', 'rest16_quad_train_309', 'rest16_quad_train_310', 'rest16_quad_train_311', 'rest16_quad_train_312', 'rest16_quad_train_313', 'rest16_quad_train_314', 'rest16_quad_train_315', 'rest16_quad_train_316', 'rest16_quad_train_317', 'rest16_quad_train_318', 'rest16_quad_train_319', 'rest16_quad_train_320', 'rest16_quad_train_321', 'rest16_quad_train_322', 'rest16_quad_train_323', 'rest16_quad_train_324', 'rest16_quad_train_325', 'rest16_quad_train_326', 'rest16_quad_train_327', 'rest16_quad_train_328', 'rest16_quad_train_329', 'rest16_quad_train_330', 'rest16_quad_train_331', 'rest16_quad_train_332', 'rest16_quad_train_333', 'rest16_quad_train_334', 'rest16_quad_train_335', 'rest16_quad_train_336', 'rest16_quad_train_337', 'rest16_quad_train_338', 'rest16_quad_train_339', 'rest16_quad_train_340', 'rest16_quad_train_341', 'rest16_quad_train_342', 'rest16_quad_train_343', 'rest16_quad_train_344', 'rest16_quad_train_345', 'rest16_quad_train_346', 'rest16_quad_train_347', 'rest16_quad_train_348', 'rest16_quad_train_349', 'rest16_quad_train_350', 'rest16_quad_train_351', 'rest16_quad_train_352', 'rest16_quad_train_353', 'rest16_quad_train_354', 'rest16_quad_train_355', 'rest16_quad_train_356', 'rest16_quad_train_357', 'rest16_quad_train_358', 'rest16_quad_train_359', 'rest16_quad_train_360', 'rest16_quad_train_361', 'rest16_quad_train_362', 'rest16_quad_train_363', 'rest16_quad_train_364', 'rest16_quad_train_365', 'rest16_quad_train_366', 'rest16_quad_train_367', 'rest16_quad_train_368', 'rest16_quad_train_369', 'rest16_quad_train_370', 'rest16_quad_train_371', 'rest16_quad_train_372', 'rest16_quad_train_373', 'rest16_quad_train_374', 'rest16_quad_train_375', 'rest16_quad_train_376', 'rest16_quad_train_377', 'rest16_quad_train_378', 'rest16_quad_train_379', 'rest16_quad_train_380', 'rest16_quad_train_381', 'rest16_quad_train_382', 'rest16_quad_train_383', 'rest16_quad_train_384', 'rest16_quad_train_385', 'rest16_quad_train_386', 'rest16_quad_train_387', 'rest16_quad_train_388', 'rest16_quad_train_389', 'rest16_quad_train_390', 'rest16_quad_train_391', 'rest16_quad_train_392', 'rest16_quad_train_393', 'rest16_quad_train_394', 'rest16_quad_train_395', 'rest16_quad_train_396', 'rest16_quad_train_397', 'rest16_quad_train_398', 'rest16_quad_train_399', 'rest16_quad_train_400', 'rest16_quad_train_401', 'rest16_quad_train_402', 'rest16_quad_train_403', 'rest16_quad_train_404', 'rest16_quad_train_405', 'rest16_quad_train_406', 'rest16_quad_train_407', 'rest16_quad_train_408', 'rest16_quad_train_409', 'rest16_quad_train_410', 'rest16_quad_train_411', 'rest16_quad_train_412', 'rest16_quad_train_413', 'rest16_quad_train_414', 'rest16_quad_train_415', 'rest16_quad_train_416', 'rest16_quad_train_417', 'rest16_quad_train_418', 'rest16_quad_train_419', 'rest16_quad_train_420', 'rest16_quad_train_421', 'rest16_quad_train_422', 'rest16_quad_train_423', 'rest16_quad_train_424', 'rest16_quad_train_425', 'rest16_quad_train_426', 'rest16_quad_train_427', 'rest16_quad_train_428', 'rest16_quad_train_429', 'rest16_quad_train_430', 'rest16_quad_train_431', 'rest16_quad_train_432', 'rest16_quad_train_433', 'rest16_quad_train_434', 'rest16_quad_train_435', 'rest16_quad_train_436', 'rest16_quad_train_437', 'rest16_quad_train_438', 'rest16_quad_train_439', 'rest16_quad_train_440', 'rest16_quad_train_441', 'rest16_quad_train_442', 'rest16_quad_train_443', 'rest16_quad_train_444', 'rest16_quad_train_445', 'rest16_quad_train_446', 'rest16_quad_train_447', 'rest16_quad_train_448', 'rest16_quad_train_449', 'rest16_quad_train_450', 'rest16_quad_train_451', 'rest16_quad_train_452', 'rest16_quad_train_453', 'rest16_quad_train_454', 'rest16_quad_train_455', 'rest16_quad_train_456', 'rest16_quad_train_457', 'rest16_quad_train_458', 'rest16_quad_train_459', 'rest16_quad_train_460', 'rest16_quad_train_461', 'rest16_quad_train_462', 'rest16_quad_train_463', 'rest16_quad_train_464', 'rest16_quad_train_465', 'rest16_quad_train_466', 'rest16_quad_train_467', 'rest16_quad_train_468', 'rest16_quad_train_469', 'rest16_quad_train_470', 'rest16_quad_train_471', 'rest16_quad_train_472', 'rest16_quad_train_473', 'rest16_quad_train_474', 'rest16_quad_train_475', 'rest16_quad_train_476', 'rest16_quad_train_477', 'rest16_quad_train_478', 'rest16_quad_train_479', 'rest16_quad_train_480', 'rest16_quad_train_481', 'rest16_quad_train_482', 'rest16_quad_train_483', 'rest16_quad_train_484', 'rest16_quad_train_485', 'rest16_quad_train_486', 'rest16_quad_train_487', 'rest16_quad_train_488', 'rest16_quad_train_489', 'rest16_quad_train_490', 'rest16_quad_train_491', 'rest16_quad_train_492', 'rest16_quad_train_493', 'rest16_quad_train_494', 'rest16_quad_train_495', 'rest16_quad_train_496', 'rest16_quad_train_497', 'rest16_quad_train_498', 'rest16_quad_train_499', 'rest16_quad_train_500', 'rest16_quad_train_501', 'rest16_quad_train_502', 'rest16_quad_train_503', 'rest16_quad_train_504', 'rest16_quad_train_505', 'rest16_quad_train_506', 'rest16_quad_train_507', 'rest16_quad_train_508', 'rest16_quad_train_509', 'rest16_quad_train_510', 'rest16_quad_train_511', 'rest16_quad_train_512', 'rest16_quad_train_513', 'rest16_quad_train_514', 'rest16_quad_train_515', 'rest16_quad_train_516', 'rest16_quad_train_517', 'rest16_quad_train_518', 'rest16_quad_train_519', 'rest16_quad_train_520', 'rest16_quad_train_521', 'rest16_quad_train_522', 'rest16_quad_train_523', 'rest16_quad_train_524', 'rest16_quad_train_525', 'rest16_quad_train_526', 'rest16_quad_train_527', 'rest16_quad_train_528', 'rest16_quad_train_529', 'rest16_quad_train_530', 'rest16_quad_train_531', 'rest16_quad_train_532', 'rest16_quad_train_533', 'rest16_quad_train_534', 'rest16_quad_train_535', 'rest16_quad_train_536', 'rest16_quad_train_537', 'rest16_quad_train_538', 'rest16_quad_train_539', 'rest16_quad_train_540', 'rest16_quad_train_541', 'rest16_quad_train_542', 'rest16_quad_train_543', 'rest16_quad_train_544', 'rest16_quad_train_545', 'rest16_quad_train_546', 'rest16_quad_train_547', 'rest16_quad_train_548', 'rest16_quad_train_549', 'rest16_quad_train_550', 'rest16_quad_train_551', 'rest16_quad_train_552', 'rest16_quad_train_553', 'rest16_quad_train_554', 'rest16_quad_train_555', 'rest16_quad_train_556', 'rest16_quad_train_557', 'rest16_quad_train_558', 'rest16_quad_train_559', 'rest16_quad_train_560', 'rest16_quad_train_561', 'rest16_quad_train_562', 'rest16_quad_train_563', 'rest16_quad_train_564', 'rest16_quad_train_565', 'rest16_quad_train_566', 'rest16_quad_train_567', 'rest16_quad_train_568', 'rest16_quad_train_569', 'rest16_quad_train_570', 'rest16_quad_train_571', 'rest16_quad_train_572', 'rest16_quad_train_573', 'rest16_quad_train_574', 'rest16_quad_train_575', 'rest16_quad_train_576', 'rest16_quad_train_577', 'rest16_quad_train_578', 'rest16_quad_train_579', 'rest16_quad_train_580', 'rest16_quad_train_581', 'rest16_quad_train_582', 'rest16_quad_train_583', 'rest16_quad_train_584', 'rest16_quad_train_585', 'rest16_quad_train_586', 'rest16_quad_train_587', 'rest16_quad_train_588', 'rest16_quad_train_589', 'rest16_quad_train_590', 'rest16_quad_train_591', 'rest16_quad_train_592', 'rest16_quad_train_593', 'rest16_quad_train_594', 'rest16_quad_train_595', 'rest16_quad_train_596', 'rest16_quad_train_597', 'rest16_quad_train_598', 'rest16_quad_train_599', 'rest16_quad_train_600', 'rest16_quad_train_601', 'rest16_quad_train_602', 'rest16_quad_train_603', 'rest16_quad_train_604', 'rest16_quad_train_605', 'rest16_quad_train_606', 'rest16_quad_train_607', 'rest16_quad_train_608', 'rest16_quad_train_609', 'rest16_quad_train_610', 'rest16_quad_train_611', 'rest16_quad_train_612', 'rest16_quad_train_613', 'rest16_quad_train_614', 'rest16_quad_train_615', 'rest16_quad_train_616', 'rest16_quad_train_617', 'rest16_quad_train_618', 'rest16_quad_train_619', 'rest16_quad_train_620', 'rest16_quad_train_621', 'rest16_quad_train_622', 'rest16_quad_train_623', 'rest16_quad_train_624', 'rest16_quad_train_625', 'rest16_quad_train_626', 'rest16_quad_train_627', 'rest16_quad_train_628', 'rest16_quad_train_629', 'rest16_quad_train_630', 'rest16_quad_train_631', 'rest16_quad_train_632', 'rest16_quad_train_633', 'rest16_quad_train_634', 'rest16_quad_train_635', 'rest16_quad_train_636', 'rest16_quad_train_637', 'rest16_quad_train_638', 'rest16_quad_train_639', 'rest16_quad_train_640', 'rest16_quad_train_641', 'rest16_quad_train_642', 'rest16_quad_train_643', 'rest16_quad_train_644', 'rest16_quad_train_645', 'rest16_quad_train_646', 'rest16_quad_train_647', 'rest16_quad_train_648', 'rest16_quad_train_649', 'rest16_quad_train_650', 'rest16_quad_train_651', 'rest16_quad_train_652', 'rest16_quad_train_653', 'rest16_quad_train_654', 'rest16_quad_train_655', 'rest16_quad_train_656', 'rest16_quad_train_657', 'rest16_quad_train_658', 'rest16_quad_train_659', 'rest16_quad_train_660', 'rest16_quad_train_661', 'rest16_quad_train_662', 'rest16_quad_train_663', 'rest16_quad_train_664', 'rest16_quad_train_665', 'rest16_quad_train_666', 'rest16_quad_train_667', 'rest16_quad_train_668', 'rest16_quad_train_669', 'rest16_quad_train_670', 'rest16_quad_train_671', 'rest16_quad_train_672', 'rest16_quad_train_673', 'rest16_quad_train_674', 'rest16_quad_train_675', 'rest16_quad_train_676', 'rest16_quad_train_677', 'rest16_quad_train_678', 'rest16_quad_train_679', 'rest16_quad_train_680', 'rest16_quad_train_681', 'rest16_quad_train_682', 'rest16_quad_train_683', 'rest16_quad_train_684', 'rest16_quad_train_685', 'rest16_quad_train_686', 'rest16_quad_train_687', 'rest16_quad_train_688', 'rest16_quad_train_689', 'rest16_quad_train_690', 'rest16_quad_train_691', 'rest16_quad_train_692', 'rest16_quad_train_693', 'rest16_quad_train_694', 'rest16_quad_train_695', 'rest16_quad_train_696', 'rest16_quad_train_697', 'rest16_quad_train_698', 'rest16_quad_train_699', 'rest16_quad_train_700', 'rest16_quad_train_701', 'rest16_quad_train_702', 'rest16_quad_train_703', 'rest16_quad_train_704', 'rest16_quad_train_705', 'rest16_quad_train_706', 'rest16_quad_train_707', 'rest16_quad_train_708', 'rest16_quad_train_709', 'rest16_quad_train_710', 'rest16_quad_train_711', 'rest16_quad_train_712', 'rest16_quad_train_713', 'rest16_quad_train_714', 'rest16_quad_train_715', 'rest16_quad_train_716', 'rest16_quad_train_717', 'rest16_quad_train_718', 'rest16_quad_train_719', 'rest16_quad_train_720', 'rest16_quad_train_721', 'rest16_quad_train_722', 'rest16_quad_train_723', 'rest16_quad_train_724', 'rest16_quad_train_725', 'rest16_quad_train_726', 'rest16_quad_train_727', 'rest16_quad_train_728', 'rest16_quad_train_729', 'rest16_quad_train_730', 'rest16_quad_train_731', 'rest16_quad_train_732', 'rest16_quad_train_733', 'rest16_quad_train_734', 'rest16_quad_train_735', 'rest16_quad_train_736', 'rest16_quad_train_737', 'rest16_quad_train_738', 'rest16_quad_train_739', 'rest16_quad_train_740', 'rest16_quad_train_741', 'rest16_quad_train_742', 'rest16_quad_train_743', 'rest16_quad_train_744', 'rest16_quad_train_745', 'rest16_quad_train_746', 'rest16_quad_train_747', 'rest16_quad_train_748', 'rest16_quad_train_749', 'rest16_quad_train_750', 'rest16_quad_train_751', 'rest16_quad_train_752', 'rest16_quad_train_753', 'rest16_quad_train_754', 'rest16_quad_train_755', 'rest16_quad_train_756', 'rest16_quad_train_757', 'rest16_quad_train_758', 'rest16_quad_train_759', 'rest16_quad_train_760', 'rest16_quad_train_761', 'rest16_quad_train_762', 'rest16_quad_train_763', 'rest16_quad_train_764', 'rest16_quad_train_765', 'rest16_quad_train_766', 'rest16_quad_train_767', 'rest16_quad_train_768', 'rest16_quad_train_769', 'rest16_quad_train_770', 'rest16_quad_train_771', 'rest16_quad_train_772', 'rest16_quad_train_773', 'rest16_quad_train_774', 'rest16_quad_train_775', 'rest16_quad_train_776', 'rest16_quad_train_777', 'rest16_quad_train_778', 'rest16_quad_train_779', 'rest16_quad_train_780', 'rest16_quad_train_781', 'rest16_quad_train_782', 'rest16_quad_train_783', 'rest16_quad_train_784', 'rest16_quad_train_785', 'rest16_quad_train_786', 'rest16_quad_train_787', 'rest16_quad_train_788', 'rest16_quad_train_789', 'rest16_quad_train_790', 'rest16_quad_train_791', 'rest16_quad_train_792', 'rest16_quad_train_793', 'rest16_quad_train_794', 'rest16_quad_train_795', 'rest16_quad_train_796', 'rest16_quad_train_797', 'rest16_quad_train_798', 'rest16_quad_train_799', 'rest16_quad_train_800', 'rest16_quad_train_801', 'rest16_quad_train_802', 'rest16_quad_train_803', 'rest16_quad_train_804', 'rest16

In [ ]:
import json
from sklearn.model_selection import train_test_split

def load_and_flatten_data(file_path):
    flattened_data = []
    
    with open(file_path, 'r') as f:
        for line in f:
            entry = json.loads(line)
            text = entry['Text']
            
            # Iterate through all opinions in the sentence
            for quad in entry['Quadruplet']:
                aspect = quad['Aspect']
                category = quad['Category']
                va_string = quad['VA'] # "6.75#6.38"
                
                # --- LOGIC: Handle NULL Aspect ---
                # If aspect is explicitly named ("soup"), use it.
                # If aspect is "NULL", use the Category ("RESTAURANT#PRICES") as the target.
                if aspect == "NULL":
                    target_text = category.replace("#", " ") # Make "RESTAURANT PRICES" readable
                else:
                    target_text = aspect

                # --- LOGIC: Parse Scores ---
                val_score, aro_score = map(float, va_string.split('#'))
                
                flattened_data.append({
                    "text": text,
                    "target": target_text,
                    "Opinion" :
                    "labels": [val_score, aro_score] # The 2 numbers we want to predict
                })
                
    return flattened_data

# Usage
all_data = load_and_flatten_data('/Users/anatoliifrolov/Desktop/epstein files/extractor/dimabsa/eng_restaurant_train_alltasks.jsonl')

# Split into Train and Validation sets (80% train, 20% val)
train_data, val_data = train_test_split(all_data, test_size=0.2, random_state=42)

print(f"Training items: {len(train_data)}")
print(f"Example Item: {train_data[0]}")

Training items: 2927
Example Item: {'text': 'we love the food , drinks , and atmosphere !', 'target': 'atmosphere', 'labels': [8.0, 8.0]}

In [47]:
import json 

with open("/Users/anatoliifrolov/Desktop/epstein files/extractor/dimabsa/parameters.json", "w") as f:
    f.write(args.to_json_string())

NameError: name 'args' is not defined